{% extends 'principal/base.html' %} {% load static %} {% block title %}Locura
Achocolatada{% endblock %} {% block content %}
<!-- Encabezado del inicio -->
<div class="bg-custom-dark-pink">
    <div class="flex w-full">
        <img
            class="m-auto p-3"
            src="{% static '/img/logo.png' %}"
            alt="Locura Achocolatada"
            width="340"
        />
    </div>
    <p class="text-center text-white">
        Chocolates sin gluten y sin azúcar para veganos
    </p>
    <div
        class="grid grid-cols-1 justify-center gap-y-3 py-4 md:grid-cols-3 lg:mx-48"
    >
        <a
            href="https://wa.me/+56912345678"
            class="mx-auto flex w-52 items-center justify-start hover:text-white"
        >
            <div
                class="flex h-10 w-10 items-center justify-center rounded-full bg-custom-brown text-custom-dark-pink"
            >
                <i class="fa-brands fa-whatsapp fa-xl"></i>
            </div>
            <p class="mx-auto">+569 1234 5678</p>
        </a>
        <a
            href="https://www.instagram.com/locura._achocolatada"
            class="mx-auto flex w-52 items-center justify-start hover:text-white"
        >
            <div
                class="flex h-10 w-10 items-center justify-center rounded-full bg-custom-brown text-custom-dark-pink"
            >
                <i class="fa-brands fa-instagram fa-xl"></i>
            </div>
            <p class="mx-auto">@locura._achocolatada</p>
        </a>
        <a
            href="https://www.facebook.com/profile.php?id=100005907791678"
            class="mx-auto flex w-52 items-center justify-start hover:text-white"
        >
            <div
                class="flex h-10 w-10 items-center justify-center rounded-full bg-custom-brown text-custom-dark-pink"
            >
                <i class="fa-brands fa-facebook-f fa-xl"></i>
            </div>
            <p class="mx-auto">@locura._achocolatada</p>
        </a>
    </div>
</div>

<div class="mx-5">
    <!-- Productos en promocion -->
    <h1 class="m-2 text-center text-xl font-semibold text-custom-brown">
        Promociones
    </h1>
    <hr />
    <div
        class="my-2 grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-5 xl:grid-cols-7"
    >
        <!-- Tarjeta de producto -->
        <div class="p-3 text-center">
            <img
                src="{% static 'img/temp/temp2.jpg' %}"
                alt=""
                width="200"
                class="m-auto rounded-lg"
            />
            <h3 class="font-bold">Nombre producto</h3>
            <!-- Descuento -->
            <div class="flex justify-center">
                <p class="mx-1 text-gray-400 line-through">$9990</p>
                <p
                    class="mx-1 my-auto rounded-md bg-custom-dark-pink p-1 text-xs text-white"
                >
                    -20%
                </p>
            </div>
            <!-- Precio final -->
            <p class="mb-1 font-semibold">$7990</p>
            <button
                class="w-full rounded-full border-2 border-custom-brown p-1.5 font-semibold text-custom-brown hover:bg-custom-brown hover:text-white"
            >
                Pedir
            </button>
        </div>
    </div>
    <!-- Productos favoritos -->
    <h1 class="m-2 text-center text-xl font-semibold text-custom-brown">
        Más vendidos
    </h1>
    <hr />
    <div
        class="my-2 grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-5 xl:grid-cols-7"
    >
        <!-- Tarjeta de producto -->
        <div class="p-3 text-center">
            <img
                src="{% static 'img/temp/temp2.jpg' %}"
                alt=""
                width="200"
                class="m-auto rounded-lg"
            />
            <h3 class="font-bold">Nombre producto</h3>
            <!-- Descuento -->
            <div class="flex justify-center">
                <p class="mx-1 text-gray-400 line-through">$9990</p>
                <p
                    class="mx-1 my-auto rounded-md bg-custom-dark-pink p-1 text-xs text-white"
                >
                    -20%
                </p>
            </div>
            <!-- Precio final -->
            <p class="mb-1 font-semibold">$7990</p>
            <button
                class="w-full rounded-full border-2 border-custom-brown p-1.5 font-semibold text-custom-brown hover:bg-custom-brown hover:text-white"
            >
                Pedir
            </button>
        </div>
    </div>
</div>
{% endblock %}
