{% extends 'principal/base.html' %} {% load static %}  {% load humanize %}  
{% block title %}Locura Achocolatada{% endblock %} {% block content %}
<!-- Encabezado del inicio -->
<div class="bg-custom-dark-pink">
    <div class="flex w-full">
        <img
            class="m-auto p-3"
            src="{% static '/img/logo.png' %}"
            alt="Locura Achocolatada"
            width="340"
        />
    </div>
    <p class="text-center text-white">
        Chocolates sin gluten y sin azúcar para veganos
    </p>
    <div
        class="grid grid-cols-1 justify-center gap-y-3 py-4 md:grid-cols-3 lg:mx-48"
    >
        <a
            href="https://wa.me/{{data.nro_whatsapp}}"
            class="mx-auto flex w-52 items-center justify-start hover:text-white"
        >
            <div
                class="flex h-10 w-10 items-center justify-center rounded-full bg-custom-brown text-custom-dark-pink"
            >
                <i class="fa-brands fa-whatsapp fa-xl"></i>
            </div>
            <p class="mx-auto">{{data.nro_whatsapp}}</p>
        </a>
        <a
            href={{data.enlace_instagram}}
            class="mx-auto flex w-52 items-center justify-start hover:text-white"
        >
            <div
                class="flex h-10 w-10 items-center justify-center rounded-full bg-custom-brown text-custom-dark-pink"
            >
                <i class="fa-brands fa-instagram fa-xl"></i>
            </div>
            <p class="mx-auto">@{{data.username_instagram}}</p>
        </a>
        <a
            href={{data.enlace_facebook}}
            class="mx-auto flex w-52 items-center justify-start hover:text-white"
        >
            <div
                class="flex h-10 w-10 items-center justify-center rounded-full bg-custom-brown text-custom-dark-pink"
            >
                <i class="fa-brands fa-facebook-f fa-xl"></i>
            </div>
            <p class="mx-auto">{{data.username_facebook}}</p>
        </a>
    </div>
</div>

<div class="mx-5">
    <!-- Productos en promocion -->
    <h1 class="m-2 text-center text-xl font-semibold text-custom-brown">
        Promociones
    </h1>
    <hr />
    <div
        class="my-2 grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-5 xl:grid-cols-7"
    >
    {% for producto in productos_promocion %}
    <!-- Tarjeta de producto -->
        <div class="p-3 text-center m-auto">
            <img
                src="{{producto.imagen.url}}"
                alt=""
                class="m-auto rounded-lg object-cover h-40 w-40"
            />
            <h3 class="font-bold">{{producto.nombre}}</h3>
            <!-- Descuento -->
            {% if producto.oferta %}
            <div class="flex justify-center">
                <p class="mx-1 text-gray-400 line-through">${{producto.precio|intcomma}}</p>
                <p
                    class="mx-1 my-auto rounded-md bg-custom-dark-pink p-1 text-xs text-white"
                >
                    -{{producto.porcentaje_descuento}}%
                </p>
            </div>
            {% endif %}
            <!-- Precio final -->
            <p class="mb-1 font-semibold">${{producto.precio_final|intcomma}}</p>
            <a href="/producto/{{producto.id}}/">
                <button
                    class="text-center w-full rounded-full border-2 border-custom-brown p-1.5 font-semibold text-custom-brown hover:bg-custom-brown hover:text-white"
                >
                    Pedir
                </button>
            </a>
        </div>
        {% endfor %}
    </div>
    <!-- Productos favoritos -->
    <h1 class="m-2 text-center text-xl font-semibold text-custom-brown">
        Más vendidos
    </h1>
    <hr />
    <div
        class="my-2 grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-5 xl:grid-cols-7"
    >
        {% for producto in productos_mas_vendidos %}
        <!-- Tarjeta de producto -->
        <div class="p-3 text-center m-auto">
            <img
                src="{% static producto.imagen %}"
                alt=""
                width="200"
                height="200"
                class="m-auto rounded-lg object-cover h-40 w-40"
            />
            <h3 class="font-bold">{{producto.nombre}}</h3>
            <!-- Descuento -->
            {% if producto.oferta %}
            <div class="flex justify-center">
                <p class="mx-1 text-gray-400 line-through">${{producto.precio|intcomma}}</p>
                <p
                    class="mx-1 my-auto rounded-md bg-custom-dark-pink p-1 text-xs text-white"
                >
                    -{{producto.porcentaje_descuento}}%
                </p>
            </div>
            {% endif %}
            <!-- Precio final -->
            <p class="mb-1 font-semibold">${{producto.precio_final|intcomma}}</p>
            <a href="/producto/{{producto.id}}/">
                <button
                class=" w-full rounded-full border-2 border-custom-brown p-1.5 font-semibold text-custom-brown hover:bg-custom-brown hover:text-white"
                >
                    Pedir
                </button>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
