{% extends 'principal/base.html' %} {% load static %} {% load humanize %}  
{% block title %}Productos | Locura Achocolatada{% endblock %} {% block content %}
<div class="px-3 py-20 lg:flex lg:justify-start">
    <img
        class="mx-1 rounded-lg"
        src="{% static producto.imagen %}"
        alt={{producto.nombre}}
        width="380"
    />
    <div class="m-2">
        <h2 class="text-xl font-bold">{{producto.nombre}}</h2>
        <div class="flex justify-start align-middle">
            {% if producto.oferta %} 
            <!-- Descuento -->
            <p class="mx-1 my-auto text-gray-400 line-through">${{producto.precio}}</p>
            <p
                class="mx-1 my-auto rounded-md bg-custom-dark-pink p-1 text-xs text-white"
            >
                -{{producto.porcentaje_descuento}}%
            </p>
            {% endif %}
            <!-- Precio final -->
            <p class="mb-1 text-lg font-semibold">${{producto.precio_final}}</p>
        </div>
        <!-- Descripcion -->
        <p class="text-justify">
            {{producto.descripcion}}
        </p>
        <div class="flex justify-center">
            <a
                class="text-center mx-auto my-2 rounded-full border-2 border-custom-brown px-3 py-2 text-lg text-custom-brown hover:bg-custom-brown hover:text-white"
                href="https://wa.me/{{data.nro_whatsapp}}"
            >
                <i class="fa-brands fa-whatsapp fa-xl"></i>
                Pedir por WhatsApp
            </a>
        </div>
    </div>
</div>
{% endblock %}
