{% extends 'principal/base.html' %} {% load static %} {% block title %}Quiénes
somos | Locura Achocolatada{% endblock %} {% block content %}
<div class="mx-5 py-5">
    <div class="my-3 lg:flex">
        <img
            src="{% static '/img/temp/temp0.png' %}"
            alt=""
            class="m-auto h-96 rounded-lg object-cover"
        />
        <div class="my-auto md:mx-8">
            <h1
                class="ml-2 text-center text-xl font-semibold text-custom-brown"
            >
                Quiénes somos
                <hr />
            </h1>
            <p class="mt-2 text-justify">
                {{data.sobre_nosotros}}
            </p>
        </div>
    </div>

    <div class="my-3 lg:flex">
        <div class="my-auto md:mx-8">
            <h1
                class="ml-2 text-center text-xl font-semibold text-custom-brown"
            >
                Nuestros productos
                <hr />
            </h1>
            <p class="mt-2 text-justify">
                {{data.descripcion_prductos}}
            </p>
        </div>
        <img
            src="{% static '/img/temp/temp1.jpeg' %}"
            alt=""
            class="m-auto h-96 rounded-lg object-cover"
        />
    </div>
</div>
{% endblock %}
